%p
  %a{ href: "/google-cdn" }
    google-cdn

%p
  %a{ href: "/microsoft-cdn" }
    microsoft-cdn

%p
  %a{ href: "/media-temple-cdn" }
    media-temple-cdn

%p
  %a{ href: "/" }
    unspecified

%p
  %a{ href: "/themes" }
    Themes