%p
  Click on a link and inspect the HEAD to see the different CDNs get used.

%p
  %a{ href: "/google-cdn" }
    google-cdn

%p
  %a{ href: "/microsoft-cdn" }
    microsoft-cdn

%p
  %a{ href: "/media-temple-cdn" }
    media-temple-cdn

%p
  %a{ href: "/" }
    unspecified

%p
  See the different themes get used via a CDN.

%p
  %a{ href: "/themes/" }
    Themes



%p
  %a{ href: "/fallback/" }
    Fallback